USE [TravelApp]
GO
/****** Object:  Table [dbo].[Bis]    Script Date: 20/05/2025 14:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bis](
	[BisID] [int] IDENTITY(1,1) NOT NULL,
	[NamaBis] [varchar](100) NULL,
	[Kapasitas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dataset]    Script Date: 20/05/2025 14:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dataset](
	[Nomor] [smallint] NOT NULL,
	[Nama_Pemesan] [nvarchar](50) NOT NULL,
	[Tanggal_Pesanan] [date] NOT NULL,
	[Tanggal_Keberangkatan] [date] NOT NULL,
	[Jumlah_Peserta] [smallint] NOT NULL,
	[Tujuan] [nvarchar](50) NOT NULL,
	[Lama] [nvarchar](50) NOT NULL,
	[Bis] [nvarchar](50) NOT NULL,
	[Penginapan] [nvarchar](50) NULL,
	[Makan] [nvarchar](50) NOT NULL,
	[Snack] [nvarchar](50) NOT NULL,
	[Patwal] [nvarchar](50) NOT NULL,
	[Detail_Wisata] [nvarchar](100) NOT NULL,
	[Paket] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dataset2]    Script Date: 20/05/2025 14:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dataset2](
	[Nomor] [tinyint] NOT NULL,
	[Nama_Pemesan] [nvarchar](50) NOT NULL,
	[Tanggal_Pesanan] [date] NOT NULL,
	[Tanggal_Keberangkatan] [date] NOT NULL,
	[Jumlah_Peserta] [smallint] NOT NULL,
	[Tujuan] [nvarchar](50) NOT NULL,
	[Lama] [nvarchar](50) NOT NULL,
	[Bis] [nvarchar](50) NOT NULL,
	[Penginapan] [nvarchar](50) NULL,
	[Makan] [nvarchar](50) NOT NULL,
	[Snack] [nvarchar](50) NOT NULL,
	[Patwal] [nvarchar](50) NOT NULL,
	[Detail_Wisata] [nvarchar](100) NOT NULL,
	[Paket] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageUrls]    Script Date: 20/05/2025 14:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageUrls](
	[Id_Image] [int] IDENTITY(1,1) NOT NULL,
	[Url_1] [varchar](255) NULL,
	[Url_2] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paket]    Script Date: 20/05/2025 14:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paket](
	[PaketID] [int] IDENTITY(1,1) NOT NULL,
	[NamaPaket] [varchar](100) NULL,
	[LamaHari] [varchar](10) NULL,
	[IncludeMakan] [varchar](10) NULL,
	[IncludeSnack] [varchar](10) NULL,
	[IncludePatwal] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pemesan]    Script Date: 20/05/2025 14:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pemesan](
	[PemesanID] [int] IDENTITY(1,1) NOT NULL,
	[NamaPemesan] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PemesanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penginapan]    Script Date: 20/05/2025 14:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penginapan](
	[PenginapanID] [int] IDENTITY(1,1) NOT NULL,
	[NamaPenginapan] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PenginapanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pesanan]    Script Date: 20/05/2025 14:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pesanan](
	[PesananID] [int] IDENTITY(1,1) NOT NULL,
	[PemesanID] [int] NULL,
	[PaketID] [int] NULL,
	[TanggalPesanan] [date] NULL,
	[TanggalKeberangkatan] [date] NULL,
	[JumlahPeserta] [int] NULL,
	[BisID] [int] NULL,
	[PenginapanID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PesananID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pesanan_DetailWisata]    Script Date: 20/05/2025 14:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pesanan_DetailWisata](
	[PesananID] [int] NOT NULL,
	[TujuanID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PesananID] ASC,
	[TujuanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TujuanWisata]    Script Date: 20/05/2025 14:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TujuanWisata](
	[TujuanID] [int] IDENTITY(1,1) NOT NULL,
	[NamaTempat] [varchar](100) NULL,
	[Kota] [varchar](100) NULL,
	[Keterangan] [text] NULL,
	[type] [varchar](10) NULL,
	[ImgUrl] [varchar](50) NULL,
	[Popularity] [int] NULL,
	[ImageID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TujuanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Dataset] ([Nomor], [Nama_Pemesan], [Tanggal_Pesanan], [Tanggal_Keberangkatan], [Jumlah_Peserta], [Tujuan], [Lama], [Bis], [Penginapan], [Makan], [Snack], [Patwal], [Detail_Wisata], [Paket]) VALUES (1, N'SMA ST. ANGELA', CAST(N'2022-01-01' AS Date), CAST(N'2022-01-15' AS Date), 388, N'Bali', N'6 Hari 5 Malam', N'Yora', N'Harris Hotel & Residences Sunset Road', N'3x Sehari', N'Ya', N'Ya', N'Pantai Kuta, Ubud, Tanah Lot', N'Paket 1')
INSERT [dbo].[Dataset] ([Nomor], [Nama_Pemesan], [Tanggal_Pesanan], [Tanggal_Keberangkatan], [Jumlah_Peserta], [Tujuan], [Lama], [Bis], [Penginapan], [Makan], [Snack], [Patwal], [Detail_Wisata], [Paket]) VALUES (2, N'SMP HANDAYANI BANJARAN', CAST(N'2022-01-05' AS Date), CAST(N'2022-01-19' AS Date), 387, N'Malang', N'4 Hari 3 Malam', N'Gemintang', N'Ijen Suites Resort And Convention', N'2x Sehari', N'Tidak', N'Tidak', N'Jatim Park, Museum Angkut, Coban Rondo', N'Paket 3')
INSERT [dbo].[Dataset] ([Nomor], [Nama_Pemesan], [Tanggal_Pesanan], [Tanggal_Keberangkatan], [Jumlah_Peserta], [Tujuan], [Lama], [Bis], [Penginapan], [Makan], [Snack], [Patwal], [Detail_Wisata], [Paket]) VALUES (3, N'SMP BPI 1 BANDUNG', CAST(N'2022-01-07' AS Date), CAST(N'2022-01-21' AS Date), 421, N'Bandung', N'1 Hari', N'Gemintang', NULL, N'2x Sehari', N'Tidak', N'Ya', N'Farm House Lembang, Tangkuban Perahu, Braga Street', N'Paket 3')
GO
INSERT [dbo].[Dataset2] ([Nomor], [Nama_Pemesan], [Tanggal_Pesanan], [Tanggal_Keberangkatan], [Jumlah_Peserta], [Tujuan], [Lama], [Bis], [Penginapan], [Makan], [Snack], [Patwal], [Detail_Wisata], [Paket]) VALUES (1, N'SMA ST. ANGELA', CAST(N'2022-01-01' AS Date), CAST(N'2022-01-15' AS Date), 388, N'Bali', N'6 Hari 5 Malam', N'Yora', N'Harris Hotel & Residences Sunset Road', N'3x Sehari', N'Ya', N'Ya', N'Pantai Kuta, Ubud, Tanah Lot', N'Paket 1')
INSERT [dbo].[Dataset2] ([Nomor], [Nama_Pemesan], [Tanggal_Pesanan], [Tanggal_Keberangkatan], [Jumlah_Peserta], [Tujuan], [Lama], [Bis], [Penginapan], [Makan], [Snack], [Patwal], [Detail_Wisata], [Paket]) VALUES (2, N'SMP HANDAYANI BANJARAN', CAST(N'2022-01-05' AS Date), CAST(N'2022-01-19' AS Date), 387, N'Malang', N'4 Hari 3 Malam', N'Gemintang', N'Ijen Suites Resort And Convention', N'2x Sehari', N'Tidak', N'Tidak', N'Jatim Park, Museum Angkut, Coban Rondo', N'Paket 3')
INSERT [dbo].[Dataset2] ([Nomor], [Nama_Pemesan], [Tanggal_Pesanan], [Tanggal_Keberangkatan], [Jumlah_Peserta], [Tujuan], [Lama], [Bis], [Penginapan], [Makan], [Snack], [Patwal], [Detail_Wisata], [Paket]) VALUES (3, N'SMP BPI 1 BANDUNG', CAST(N'2022-01-07' AS Date), CAST(N'2022-01-21' AS Date), 421, N'Bandung', N'1 Hari', N'Gemintang', NULL, N'2x Sehari', N'Tidak', N'Ya', N'Farm House Lembang, Tangkuban Perahu, Braga Street', N'Paket 3')
GO
SET IDENTITY_INSERT [dbo].[ImageUrls] ON 

INSERT [dbo].[ImageUrls] ([Id_Image], [Url_1], [Url_2]) VALUES (1, N'\images\1-2.jpeg', N'\images\1-3.jpg')
INSERT [dbo].[ImageUrls] ([Id_Image], [Url_1], [Url_2]) VALUES (2, N'\images\2-2.jpg', N'\images\2-3.jpg')
INSERT [dbo].[ImageUrls] ([Id_Image], [Url_1], [Url_2]) VALUES (3, N'\images\3-2.jpg', N'\images\3-3.jpg')
SET IDENTITY_INSERT [dbo].[ImageUrls] OFF
GO
SET IDENTITY_INSERT [dbo].[TujuanWisata] ON 

INSERT [dbo].[TujuanWisata] ([TujuanID], [NamaTempat], [Kota], [Keterangan], [type], [ImgUrl], [Popularity], [ImageID]) VALUES (1001, N'Pantai Kuta, Ubud, Tanah Lot', N'Bali', N'Destinasi alam dan budaya populer di Bali.', N'Beach', N'\images\1-1.jpg', 5, 1)
INSERT [dbo].[TujuanWisata] ([TujuanID], [NamaTempat], [Kota], [Keterangan], [type], [ImgUrl], [Popularity], [ImageID]) VALUES (1002, N'Jatim Park, Museum Angkut, Coban Rondo', N'Malang', N'Taman edukasi dan hiburan di kota sejuk.', N'Historical', N'\images\2-1.jpeg', 4, 2)
INSERT [dbo].[TujuanWisata] ([TujuanID], [NamaTempat], [Kota], [Keterangan], [type], [ImgUrl], [Popularity], [ImageID]) VALUES (1003, N'Farm House Lembang, Tangkuban Perahu, Braga Street', N'Bandung', N'Wisata keluarga dengan edukasi dan alam.', N'Nature', N'\images\3-1.png', 2, 3)
SET IDENTITY_INSERT [dbo].[TujuanWisata] OFF
GO
ALTER TABLE [dbo].[Pesanan]  WITH CHECK ADD FOREIGN KEY([BisID])
REFERENCES [dbo].[Bis] ([BisID])
GO
ALTER TABLE [dbo].[Pesanan]  WITH CHECK ADD FOREIGN KEY([PaketID])
REFERENCES [dbo].[Paket] ([PaketID])
GO
ALTER TABLE [dbo].[Pesanan]  WITH CHECK ADD FOREIGN KEY([PemesanID])
REFERENCES [dbo].[Pemesan] ([PemesanID])
GO
ALTER TABLE [dbo].[Pesanan]  WITH CHECK ADD FOREIGN KEY([PenginapanID])
REFERENCES [dbo].[Penginapan] ([PenginapanID])
GO
ALTER TABLE [dbo].[Pesanan_DetailWisata]  WITH CHECK ADD FOREIGN KEY([PesananID])
REFERENCES [dbo].[Pesanan] ([PesananID])
GO
ALTER TABLE [dbo].[Pesanan_DetailWisata]  WITH CHECK ADD FOREIGN KEY([TujuanID])
REFERENCES [dbo].[TujuanWisata] ([TujuanID])
GO
